PORT=8080

PGHOST=localhost
PGPORT=5432
PGDATABASE=app_db
PGUSER=postgres
PGPASSWORD=postgres
PGSSLMODE=disable

POSTGRES_USER=postgres
POSTGRES_PASSWORD=same-strong-password
POSTGRES_DB=app_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=

EMAIL_PASS=
EMAIL_USER=

FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_ORIGIN_PROD=https://shashwotghimire.com

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
